@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

.logoContainer {
  opacity: 0;
  transform: translateY(30px);
  animation: floatUp 3s forwards;
}

@keyframes floatUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.pulse {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

.client-success-page html, .client-success-page body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.background::before {
  content: "";
  background-image: url('https://minio.saksiam.co.th/public/saktech/logo/260439-P4TBBB-678-ai.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  animation: moveBackground 10s linear infinite; /* ใช้ animation */
}

@keyframes moveBackground {
  0% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

.background2::before {
  content: "";
  background-image: url('https://minio.saksiam.co.th/public/saktech/logo/260439-P4TBBB-678-ai.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

canvas.drawingBuffer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.custom-font {
  font-family: 'Kanit', sans-serif;
}